@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



body{
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
	
}
.main{
	max-width: 1920px;
	margin: auto;
}
.header
{
	background: black;
	height: 10%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.nav-menu
{
	display: flex;
}

.topnav a
{
	text-decoration: none;
	font-size: 15px;
	text-align: right;
	padding: 10px 20px;
	color: white;

}
.topnav .icon {
  display: none;
}

.topnav a:hover
{

	color: #ff3c36;

}
.search a
{
	color: white;

	padding-left: 10px;
}
.button-nav
{
	display: none;
}

.bottom-logo img
{
max-width: 230px;
padding: 5px 0px;
margin-bottom: 20px;
}
.bottom-content p
{
	color: white;
	line-height: 24px;
	font-size: 14px;
	text-align: justify;
	margin-bottom: 20px;
}
.bottom-social-icon i
{
margin-left: 20px;
color: white;
font-size: 24px;
}
.bottom-social-icon .active
{
	margin-left: 0px;
}
.content-bottom
{
	margin-left: 1px;
	height: 80px;
}
.content-bottom img
{
	width: 25%;
	float: left;
	height: 60px;
	padding-right: 5px;
	object-fit: cover;

}
.content-bottom a
{
	display: block;
	font-size: 13px;
	text-align: justify;
	text-decoration: none;
	color: white;

}
   .banner-quangcao
   {
   	padding-top: 30px;
   	padding-bottom: 20px;
   }
.banner-quangcao img
{
	width: 100%;
}

.content-bottom p
{
	padding-left: 5px;

}
.bottom-title h2
{
	font-size: 17px;
	color: white;
	padding-bottom: 20px;
}
.footer
{
	border-bottom: 1px solid  #333333;
	padding-bottom: 20px;
}
.footer-bottom
{
	padding-top: 20px;
}
.copyrightbox
{
	color: white;
	font-size: 16px;
}





.topnav ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.topnav > ul > li
{
	display: inline;
}
.submenu{
	position: absolute;
	z-index: 1;
	background: black;
	width: 200%;
	top: 50px;left: 0px;
	display: none;
    opacity: 0;

	
}
.main-menu
{
	position: relative;
}
.topnav ul li:hover .submenu
{
		top: 35px;
		z-index: 2;
		opacity: 1;
		display: block;
	
}
.submenu li
{
padding-bottom: 10px;
}


.nav_title li
{
display: inline;
}



   .content-bottom:hover p
   {
	color: #ff3c36;
   }
   .banner-quangcao
   {
   	padding-top: 30px;
   	padding-bottom: 20px;
   }
.banner-quangcao img
{
	width: 100%;
}
.link-breadcrumb
{
	text-align: center;
	padding: 15px;
}
.link-breadcrumb ol
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.link-breadcrumb ol li
{
display: inline;
}
.link-breadcrumb ol li a
{
display: inline;
color: #999;
text-decoration: none;

}
.link-breadcrumb ol li a:hover
{

color: #ff3c36;


}
.link-breadcrumb ol li .bre-active
{
pointer-events: none;

}


.more-blogs
{
	font-size: 12px;
	color: black;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 10px;
}




.right-danhmuc
{
	padding-top: 30px;
}
.ads2 img
{
	width: 100%;
}
.category
{
		padding-top: 30px;

}
.category-title
{
	border: 1px solid #e1e1e1;
	height: 100%;
}
.category-title i
{
padding: 10px;
color: #ff3c36;
font-size: 18px;

}
.category-title>a
{
	padding: 8px;
	border-bottom: 1px solid #e1e1e1;
	display: block;
	text-decoration: none;
	color: black;
	pointer-events: none;
	font-size: 15px;
	font-weight: bold;
}
.category-list ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	padding:0px 10px 0px 10px;
}
.category-list li
{
	border-bottom: 1px solid #e1e1e1;
		padding: 5px;
}

.category-list >ul > li > a
{

	font-size: 16px;
	color: black;
		display: block;
		text-decoration: none;
		font-weight: bold;
	

}
.category-list >ul > li > a:hover
{


		color: #ff3c36;
	

}
.category-list > ul > li:last-child
{
border: none;

}

.hot-news
{
	padding-top: 30px;

	
}
.title-widget > h2
{
	text-align: center;
	padding-bottom: 20px;
	
}
.title-widget > h2 > span
{

text-transform: uppercase;
z-index: 100000;
font-size: 18px;
font-weight: bold;
color: #ff3d36;
padding: 10px;
background: white;
}
.mini-hot-new-img .deobiet
{
	text-overflow: ellipsis; 
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
display: -webkit-box;
overflow: hidden;
}
.mini-hot-new-img img
{
	width: 30%;
	object-fit: cover;
	float: left;
	padding-right: 10px;
}

.mini-hot-new-img a
{
	display: block;
	font-size: 13px;
	text-align: justify;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.mini-hotnew
{
	height: 80px;
}
.mini-hotnew img
{
transition: all 0.2s ease-in-out;
}
.mini-hotnew a
{
transition: all 0.2s ease-in-out;
}

.mini-hotnew:hover img
{
transform: scale(1.1);
}
.mini-hotnew:hover a
{
color: #ff3d36;
}

.content-chitiet
{
	padding-top: 30px;

}
.chitiet-title .title-chitiet
{
font-size: 18px;
text-transform: uppercase;
text-align: justify;
font-weight: bold;
}
.more-blogs span
{
	margin-top: -20px;
	display: block;
}
.chitiet-share
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.chitiet-img img
{
	width: 100%;
	object-fit: cover;
}
.short-desc h1,h2,h3,h4,h5,h6
{
	padding-top: 20px !important;
	font-size: 15px !important;
	font-weight: bold !important;
	text-align: justify !important;
}
.short-desc p
{
	font-size: 15px !important;
	font-weight: bold !important;
	text-align: justify !important;
}
.short-desc a
{
	text-decoration: none;
}
.chitiet-detail-desc p,span
{
font-size: 14px !important;
	text-align: justify !important;
}
.img-top-danhmuc img
{
	width: 100%;
	object-fit: cover;
}
.top-danhmuc-img .short-desc-xuhuong
{
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.1;
	text-align: justify;
	display: block;
	margin-top: 10px;

}
.danhmuc-blogs
{
	margin-top: 15px;
}
.xuhuong-title
{
	margin-top: 20px;
}
.xuhuong-title h1
{
	text-align: center;
	font-size: 30px;
	color: #ff3d36;
	font-weight: bold;
}
.top-danhmuc-img:hover img
{
	transform: scale(1.1);
}

.top-danhmuc-img img
{
		transition: all 0.2s ease;
	
}
.top-danhmuc-img:hover a
{
	color: #ff3d36;
}

.top-danhmuc-img a
{
		transition: all 0.2s ease;
	
}
.img-top-danhmuc
{
	overflow: hidden;
	width: 99%;
	height: 231px;

	margin-top: 10px;
}
.search input
{

	outline: none;
	background: black;
	border: none;
	color: white;
	border-bottom: 1px solid white;
		font-size: 15px;
		transition: border-bottom 0.3s;
}
.search input:focus
{

	border-bottom: 1px solid #ff3c36;
	
}
.search button
{
	background: black;
	border: none;
}
.search i
{
	font-size: 15px;
	color: white;
}



.col-xs-9
{
 width: 75%;
}

.col-xs-3
{
	width: 25%;
}

.col-xs-6
{
	width: 50%;
	
}

/*----------------------------*/
@media screen and (max-width: 480px) {

	.chitiet-detail-desc p img
		{
			max-height: 300px !important;
		}
		.chi
	.search{display: none;}
	.search input
	{
		width: 60px;
	}
	.mini-hotnew
	{
		padding-bottom: 95px;
	}
	.sub-title
	{
		bottom: 170px;
	}
	.image-hover
	{
		left: 45%;
	}
	
	.collapse ul li ul{
		margin-left: -40px;
	}
	.atm-img
	{
		display: none;
	}
	.copyrightbox
	{
		text-align: center;
	}

	.bottom-title
	{
		padding-top: 20px;
	}

.topnav
{
	display: none;
}
.button-nav
{
	display: block;
}
.button-nav button i{
	color: white;
}
.navbar-nav li a
{
  font-size: 16px;
  color: black;
  text-align: center;
  font-weight: bold;
      font-family: 'Quicksand', sans-serif;
}

.logo
{
	position: relative;
}
.navbar-collapse
{
  margin-left: -100px;
  margin-top: 10px;
}
.navbar-nav ul
{
  margin: 0px;
  padding: 0px;
  margin-left: 120px;

}
.navbar-nav li
{
  background: black;
  padding: 15px;
}
.navbar-nav li a
{
	text-align: right;
color: white;
}
}
